[2021-03-06 16:06] dbudke opened #3 "Sequence flow rendering at gateways"
Thanks for implementing the great sequence flow rendering!

In the example below the sequence flow is not rendered for both outgoing flows at the XOR gateway when entering the gateway a second time.

![image](https://user-images.githubusercontent.com/15988866/110212836-9cc42e80-7e9d-11eb-959d-4288598b8cb1.png)

Great work!

Cheers
Dirk

[2021-03-06 21:00] datakurre commented on #3
@dbudke Thanks for the issue and showing that with the Camunda demo process for making it easy for me to reproduce!

I may not be able to fix this immediately, but will look into this when i am touching the sequence flow rendering next time. The root cause for these kind of issues (there must be more) is that Camunda does not record execution of "paths", but only execution of "nodes", and the flow

[2021-03-07 06:32] datakurre commented on #3
I found a small clear issue, which seemed to fix this particular use case for me with the current master :thinking:

![Screenshot_2021-03-07 Camunda Cockpit](https://user-images.githubusercontent.com/160447/110231285-6b8c4280-7f1f-11eb-9706-a34f27547047.png)

[2021-03-08 15:05] MaximMonin opened #4 "Updating History Audit log when clicking on activity link"
There is new feature in History Audit log: User can press link and show activity Sybprocess.
But when clicking a link, only diagram above is updated, but audit table still from parent process. And I have to refresh browser window to make changes in table below.

[2021-03-08 17:19] datakurre commented on #4
Thanks for the issue. I recall seeing this, but right now was unable to reproduce. Does switching tabs have any effect?

That said, I also made a small fix into master, that could have effect.

[2021-03-08 17:38] MaximMonin commented on #4
Oh thanks, now it is working like a charm!

[2021-03-08 18:53] #4 closed

[2021-03-09 10:10] dbudke commented on #3
Works great! Thanks for the update @datakurre

[2021-03-09 10:12] dbudke opened #5 "Variables of type file are not shown in history variable view"
Variables of type "file" are not correctly shown in the history view of a process instance (see screenshot).
Would be great to have the link to the document as in the runtime view of the process instance.
![image](https://user-images.githubusercontent.com/15988866/110454899-15a6ce80-80c8-11eb-8b54-a9d7488dc772.png)

[2021-03-09 12:36] chaggeus opened #6 "Problem with docker port mapping and camunda-cockpit-plugins functionality?"
Any idea why your example work ok with docker post mapping "-P" but not with "-p 8080:8080"?

### Workin example:
[code]
![image](https://user-images.githubusercontent.com/19223799/110471022-47c62980-80e4-11eb-984d-07c51ba21e75.png)

### NOT Workin example:
shoisko@DuuniWin10:~/tmp$ docker run -d --rm -p 8080:8080 -v $(pwd)/camunda-cockpit-plugins:/camunda/webapps/camunda/app/cockpit/scripts/:ro c

[2021-03-09 12:55] datakurre commented on #6
@chaggeus No, sorry. Google gave me this https://www.ctl.io/developers/blog/post/docker-networking-rules/

That said, mounting plugins into container should have nothing to do with ports :flushed:

[2021-03-09 12:57] datakurre commented on #5
@dbudke Thanks again. I can confirm that I have not even started implementing support for file variables yet.

[2021-03-09 13:03] chaggeus commented on #6
Exactly. That why problem is weird. Also it is weird becouse random port working, fixed not.

[2021-03-09 13:12] chaggeus commented on #6
It is weird also becouse;  "-p 8081:8080" work. ;)

[code]

So looks like root case is: If host port is same than container port then it not work, if those are different then plugin work? Thats weird ...and even that is not true. At least hostport 8081 it work, with 80 not :?
...and it doesn't matter what is host port camunda it self workin ok in any of ports.

[2021-03-09 14:06] datakurre commented on #6
@chaggeus Any chance that you already have a Camunda container without the mount running at 8080?

[2021-03-09 14:30] chaggeus commented on #6
Just pure Camunda image was in use (used exactly how u use it in your
example). Visible in examples above.

ti 9. maalisk. 2021 klo 16.06 Asko Soukka ***@***.***>
kirjoitti:

[2021-03-09 14:57] datakurre commented on #6
One more possibility: browser has sticky cache for `config.js` at port 8080 from Camunda container without the plugins.

[2021-03-09 15:35] chaggeus commented on #6
This was the case: Empty browser cache and reload fix the issue.
Issue could be closed.

[2021-03-15 21:51] semihunaldi opened #7 "Question: Are there any ways to deploy cockpit plugins to an embedded spring-boot tomcat server?"

[2021-03-16 18:14] semihunaldi commented on #7
Found a way,

I leave it here for someone in need.

Put your JavaScript files under :
`/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/`

Then configure your pom.xml.

`<plugin>

	<artifactId>maven-dependency-plugin</artifactId>
	<executions>
		<execution>
			<id>unpack</id>
			<phase>process-sources</phase>
			<goals>
				<goal>unpack</goal>
			</goals>
			<configuratio

[2021-03-16 18:14] #7 closed

[2021-04-02 21:41] hanscrg opened #8 "How to use this plugin with WebApp embeded in Spring Boot?"
How to use this plugin with Camunda WebApp embeded in Spring Boot?

[2021-04-02 21:45] hanscrg commented on #8
Duplicated. Seems the same questions already answered.

[2021-04-02 21:55] hanscrg commented on #8
Try to follow the instructions to install the plugin with Spring boot embedded WebApp.

Put your JavaScript files under :
/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/

What scripts need to go to that folder?

[2021-04-02 22:42] clavinovahan commented on #8
Duplicated question. Problem solved. It is a great plugin. Thanks a lot.

[2021-04-02 22:42] #8 closed

[2021-04-09 11:23] MaximMonin opened #9 "Camunda 7.15.0 support"
![image](https://user-images.githubusercontent.com/390725/114172626-8e56b000-993e-11eb-9d81-c4083eec388b.png)
Clicking on process -> redirect to cockpit home

nginx log: GET /camunda/api/engine/engine/https://site/camunda/app/cockpit/default/ HTTP/2.0" 401 669 GET
It seems there is wrong path to engine on new camunda version

[2021-04-09 22:23] #5 closed

[2021-04-10 11:20] datakurre commented on #9
@MaximMonin Thank you for testing with 7.15.0. I believe that I found the the issues. Feel free to close this if the plugins now work for you.

[2021-04-10 11:39] datakurre opened #12 "Camunda 7.15.0 instructions"
This no longer works on Camunda 7.15.0

[code]

because it would override the default `camunda-cockpit-ui.js` located now at `scripts`.

I welcome the second best option to try out these plugins on 7.15.0.

Options:

a) Add Dockerfile and instruct building a custom image
b) Instruct to start the default image, copy `camunda-cockpit-ui.js` from it and then use the old instructions
c) Instruct to mo

[2021-04-10 12:13] MaximMonin commented on #9
It seems this issue can be closed. Now it is working ok.
I noticed one more bug for new element "View" of json historic variable:
![image](https://user-images.githubusercontent.com/390725/114269349-3f2c8000-9a0f-11eb-85e0-97294a3bb8b8.png)
If value has many elements there are no close button for new modal window

[2021-04-10 12:38] datakurre commented on #9
@MaximMonin Nice catch. When you have time, please, check if the current master fixes that by allowing the modal to scroll.

[2021-04-10 13:02] MaximMonin commented on #9
Many thanks :))) And for new features 👍

[2021-04-10 13:03] #9 closed

[2021-04-11 17:10] MaximMonin commented on #12
or copy camunda-cockpit-ui.js to this project as part of setup :)

[2021-04-13 16:26] #12 closed

[2021-04-15 17:52] asys3 opened #13 "Updated instructions for use with Camunda Platform Run 7.15"
Great job!!! Awesome work!

I've just noticed that with the new Camunda release of Platform Run 7.15 the instructions from
[https://datakurre.pandala.org/2021/01/camunda-cockpit-history-plugin/](url)
don't work anymore.

So I downloaded the whole package from https://github.com/datakurre/camunda-cockpit-plugins and did the following to get it working. It seems only some .js files (instance-tab-mod

[2021-04-15 18:21] datakurre commented on #13
@asys3 I confirm that only `config.js` and files referred from there are required (the rest are for development). `config.js` is common configuration file for the Cockpit application, and when there are more plugins available, you may neet to customize it to match your plugin set.

My example `config.js` requires currently:

* definition-historic-activities.js for sample of historic diagram tokens

[2021-04-15 18:50] asys3 commented on #13
Yes I understand the thing with your blog to describe a safe environment though either Camunda or your plugin has an update in the meantime.
Perhaps you could expand your github doc with the CamundaRun instructions besides docker if this is not too much effort.
I would find it helpful.
Thanks for the fast and detailed answer. Just have to check the robot icon now and looking forward to your next s

[2021-04-15 18:50] #13 closed

[2021-05-08 12:44] datakurre opened #14 "Plugin breaks when DMN engine is not enabled"

[2021-05-08 13:35] bmaehr commented on #14
I found at least 3 places for /decision-instance. Replacing

instance-historic-activities.js line 2051
instance-route-history.js line 29075
tasklist-audit-log.js line 1155

with new Map(); fixed the errors in browser console for me and makes the plugin workable.

[2021-05-09 15:58] #14 closed

[2021-05-09 16:01] datakurre commented on #14
I chose the simplest possible fix for now by simply returning empty list from API calls returning something else than 200 OK.

https://github.com/datakurre/camunda-cockpit-plugins/commit/3be194a0de3f8096c7fbdf548f41e935cd0465d7#diff-005aabee8c8c23534dc0f09ba8842309697d0be3e0d481efcb71d3fd0e6dccc6R28

[2021-05-11 18:56] gimmebytes opened #15 "How to install plugin into Camunda Cockpit when using Spring Boot?"
Hi @datakurre 👋 ,

I'm currently creating a Camunda PoC leveraging the Spring Boot Starter. I stumbled over your blog post describing your work on this plugin. I would love to try it out, but I'm not very familiar with the plugin system of the Camunda Cockpit.

Could you guide me into the right direction on how to install the plugin into my PoC application using Spring Boot?

I started my PoC usin

[2021-05-11 18:57] gimmebytes commented on #15
PS: Java version is 11 and Camunda Platform is 7.15.0

[2021-05-12 11:54] datakurre commented on #15
I have `config.js` resources in my app at

`./src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/config.js`

and bundles at

`./src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/custom`

referred in config.js as `custom/bundlename.js`.

But there could be more examples at the forum https://forum.camunda.org/t/minimal-cockpit-history-plugins-for-camunda-7-14-0

[2021-05-12 15:02] gimmebytes commented on #15
While at first your hint didn't work out, I tried out to integrate a very basic plugin from the [Camunda examples](https://github.com/camunda/camunda-bpm-examples/tree/master/cockpit/cockpit-cats) (btw. everybody should have the cats plugin installed).

So that helped to get everything up and running correctly.

I did the following:

`$ cd <to my src folder>`
`$ mkdir -p main/resources/META-INF/re

[2021-05-12 15:03] #15 closed

[2021-07-05 16:15] MrRickwi opened #16 "Integrating the plugin into the "Camunda Docker Run" image"
Hi, is there any way to integrate the plugin into the "Camunda Docker Run" image which can be found here:

docker pull camunda/camunda-bpm-platform:run-7.15.0

I tried it with a Dockerfile like this:

[code]

with no success. Any hints? Interesting part: The file camunda-cockpit-ui.js is missing in the run image, so I suppose this image is stripped down not to support any plugins. Right?

[2021-07-05 20:10] datakurre commented on #16
@MrRickwi I recall that the run image has everything baked into JAR-files and it does not support reading plugins out of those JARs. I believe that you should be able to adapt the examples in the forum https://forum.camunda.org/t/minimal-cockpit-history-plugins-for-camunda-7-14-0/24651/17 to get the plugin files into the image. You should not need to add camunda-cockpit-ui.js, because it should be

[2021-07-06 06:36] MrRickwi commented on #16
That solved the problem: My final minimal Dockerfile for Camunda Run looks now like this:

[code]

I think it would help to include this in README.md... Thanks a lot!

[2021-07-06 13:44] datakurre commented on #16
I add link from README to this issue :angel:

[2021-07-06 13:44] #16 closed

[2021-07-20 08:27] fliot commented on #16
Same thing, into a single Dockerfile:
[code]

I love your project, it's fabulous !!!

[2021-08-10 18:09] Despairs opened #17 "History and Statistic tabs are empty when Engine API return wrong 'Content-Type' header"
When ```GET /process-definition/{id}``` response contains ```Content-Type: application/json;charset=UTF-8``` History and Statistic tabs are empty because another header expected - ```Content-Type: application/json``` (https://github.com/datakurre/camunda-cockpit-plugins/blob/master/src/utils/api.ts#L31).

Because of it 'definition' is undefined (https://github.com/datakurre/camunda-cockpit-plugins

[2021-08-11 14:20] datakurre commented on #17
@Despairs Thanks. This should be now fixed in master by https://github.com/datakurre/camunda-cockpit-plugins/commit/d623c622f535897eed15a279495b69c02426cb0b

I loosened the code to only check that Content-Type starts with application/json.

[2021-08-11 15:18] Despairs commented on #17
Worked like a charm. Thanks!

[2021-08-11 15:18] #17 closed

[2021-08-13 16:04] Smoofie opened #18 "Definition diagram historic activities performance and data scope"
First of all, great plugin idea! It can definitely be very useful, when stabilized.

I noticed two issues with the definitionDiagramHistoricActivities plugin:

1. Data fetched to render activities counters is fetched for all process definitions matching currently opened process definition's key:
[code]
It causes massive performance problems, because there will be as many requests as process defini

[2021-08-13 16:24] datakurre commented on #18
@Smoofie I agree with your findings.

I was supposed to implement a "filter box" which would allow to customize search parameters to make it somewhat usable without a backend plugin. But that is still work in progress.

The fastest possible patch for me is to limit it to only get events for the current definition, but maybe I could increase the amount of activities to fetch. Would amount would you

[2021-08-13 17:01] datakurre commented on #18
Bundles updated. I didn't have strong opnions for this anymore. The current master now only queries for the current version. It does query for the 1000 latest activities, but that should not be an issue for a Java backend.

https://github.com/datakurre/camunda-cockpit-plugins/commit/8c0b56b1863327e8b588a360391d52bc4405c6ea

[2021-08-16 09:21] Smoofie commented on #18
@datakurre That is a massive performance improvement, thanks a lot!
A single query for 1000 latest activities shouldn't be a big problem indeed.

It could theoretically be improved by querying statistics directly from the database in a backend plugin, because it would limit network consumption and increase the limit on number of activities counted, but it's more of a "nice to have" feature than an

[2021-08-16 09:21] #18 closed

[2021-09-24 19:53] ChuckIrvine opened #19 "How avoid showing historical tokens?"
My preference would be to not see historical token markers when viewing a process definition in the cockpit as shown below. Is there an a way to turn these off? Thanks

<img width="1209" alt="Screen Shot 2021-09-24 at 2 43 47 PM" src="https://user-images.githubusercontent.com/657002/134732252-9b70bb2d-51aa-4ae8-9083-5174e8a46efc.png">

[2021-09-24 20:49] datakurre commented on #19
@ChuckIrvine You might want to remove line with definition-historic-activities.js from config.js. That would remove tokens and “Statistics” tab (which are questionable anyway because the query for those is not yet configurable).

[2021-09-24 21:42] CharlesIrvineKC commented on #19
Thanks. That got it for me. Thanks for the great tool.

[2021-09-24 21:42] #19 closed

[2021-09-26 17:04] ChuckIrvine opened #20 "Feedback: Search, Sizable Panels, Historical Tokens"
After using this super useful plugin, I have a little feedback.

- Unless I'm overlooking something, there seems to be no way to filter/search for process instances. I would guess that this will be almost required when there are a large number of finished process instances.
- It would be great if one could resize the model and data panels.
- I haven't been able to see any use for the little histor

[2021-09-26 17:45] datakurre commented on #20
Thanks for the feedback! I intent to leave this issue open for discussion.

:100:

This is mainly missing, because building a good filter is hard, Camunda's own filter cannot be reused, and I have somehow survived myself without it. I have started working on this (on top of https://www.npmjs.com/package/react-filter-box) but have not been able to prioritize it yet enough.

They should already be r

[2021-09-26 19:19] CharlesIrvineKC commented on #20
Perhaps, for searching, you can start with something minimal. Searching on process variables and business keys would be my first choices. Perhaps, just business key searching would even be a good start. I can see how you've got along without searching though. In most cases I think I'm going to be interested in looking at mainly the most recently finished process instances.

Hmmm, I'm not able to d

[2021-09-27 06:01] datakurre commented on #20
It's a quite thin area where mouse cursor changes to resize cursor allowing resize by dragging. The official views have also shortcut icons for maximizing panels with a single click. My history view is still missing those.

I found them helpful while developing a process, to ensure that I have manually tested all the paths.

About Statistics Tab. In it's current state it is misleading, because not

[2021-09-27 12:30] CharlesIrvineKC commented on #20
I can see how the historical token indicators would be valuable for the purpose you describe. The problem is that they are a distraction from the live tokens that tell me at a glance the state of in-flight process instances. Admittedly, they are really only a minor distraction. They are fine. I'll keep them visible for now I think.

Hey, thanks, I finally found the draggable resize line. For a lon

[2021-09-29 08:00] datakurre commented on #20
I do have use cases of my own for filtering historic process instances by variables, so I managed push these forward at unmerged filter-box branch https://github.com/datakurre/camunda-cockpit-plugins/tree/filter-box

Historic tokens on definition view are now hidden by default and can be toggled with "history button".

Historic instances can be filtered by business "key" or by string variable(s) v

[2021-09-29 18:22] CharlesIrvineKC commented on #20
This looks great. Will be trying it out here in the next hour. Question - how were these js files created exactly? It looks like they might be transpiled somehow.

[2021-09-29 18:30] datakurre commented on #20
They are transpiled using TypeScript and bundled using Rollup. Bundling makes the plugin files pretty big, but on the other hand they are very robust. Each plugin file is standalone with libraries, styles and icons it needs.

[2021-09-29 18:33] datakurre commented on #20
Btw, I just recalled another reason for definition tokens. I have processes which have multiple endings and it is nice to see visually how the executions are spread.

[2021-09-29 18:42] CharlesIrvineKC commented on #20
I see. I just tried the search functionality and it worked for business key searches, but it didn't work for searching on process variables. Should it work for the latter?

[2021-09-29 18:44] CharlesIrvineKC commented on #20
I just saw in your example above that you can search on a variable value. Does the scope of the variable make any difference?

[2021-09-29 18:45] datakurre commented on #20
@ChuckIrvine Sorry, I should have been more specific on the instructions, because this is still very early on these features.

Variable search works only on history tab, and you need to ignore suggestion on "key", but just type your variable instead.

[2021-09-29 18:48] datakurre commented on #20
I assume it searches for process scope variables, because it is limited by the capability of Camunda REST API:

https://docs.camunda.org/manual/7.15/reference/rest/history/process-instance/get-process-instance-query/

It seems, I could also implement "ilike"-operator, because there is now dedicated flag to make case insensitive search.

[2021-09-29 18:58] CharlesIrvineKC commented on #20
Searching on variables isn't working for me. I have a variable, set in my start form, employee_supervisor_name:

![image](https://user-images.githubusercontent.com/657002/135331165-a5de3b87-9652-4ad6-955f-c08e99769e7f.png)

And if I search for %Charles% I get back no hits:

![image](https://user-images.githubusercontent.com/657002/135331340-70534ee8-ca90-49a1-870d-b116efc89b6c.png)

[2021-09-29 19:02] datakurre commented on #20
Did you press enter after typing the query? (More bad discoverability...)

Is so, if you are familiar with browser developer tools, after submitting that search with enter, you should be able to see query being made on the developer tools network tab. That might help to figure out what goes wrong with the search.

(It actually seems to be doing twice the same search, so there is still room to opti

[2021-09-29 19:16] CharlesIrvineKC commented on #20
looks like I'm getting a 400 error:

message: "Cannot set query parameter 'variables' to value 'employee_supervisor_name_like_%Charles%': variable query parameter has to have format KEY_OPERATOR_VALUE."
type: "InvalidRequestException"

[2021-09-29 19:25] CharlesIrvineKC commented on #20
It seems like it doesn't like underscores in my variable names. Think that's it?

[2021-09-29 19:26] datakurre commented on #20
So it seems. The REST API documentation says:

:flushed:

[2021-09-29 19:31] CharlesIrvineKC commented on #20
hmmm. great. I use underscores in almost all of my variable names. FYI - a search for a variable with an underscore in its name works when searching for in-flight instances. Does that use a different API?

[2021-09-29 19:37] datakurre commented on #20
@ChuckIrvine Thanks for pointing that out. There is alternative API (POST instead of GET) that supports all variable names. I am not able to do that fix immediately, but I'll ping you when I have changed the plugin to use that API instead.

[2021-09-29 19:40] CharlesIrvineKC commented on #20
Ok. Thanks. It might also be possible to html encode the variable name. See https://forum.camunda.org/t/get-process-instance-underscores-in-variable-names/1593

[2021-09-30 04:37] datakurre commented on #20
@ChuckIrvine Variables with underscores in their name should now work. In addition I added `ilike` search for case insensitive search.

[2021-10-01 16:35] CharlesIrvineKC commented on #20
I tried it all out. It's working very nicely. You've provided some very valuable code. Thanks so much. Maybe you ought to post an update to the Camunda forum.

It seems like you have addressed all my question/needs in the original issue post. We can close the issue I think.

[2021-10-01 16:46] CharlesIrvineKC commented on #20
Something just occurred to me. Your historical token markers on the process model definitions is a little bit like a heat map. An actual heat map would be an excellent addition. Any idea on how much effort that would be?

[2021-10-01 17:06] datakurre commented on #20
@ChuckIrvine About heatmap:

What should it really measure? Amount of tokens visited nodes or total time spent at nodes? Compared to what? And does it still really measure congestion?

I don’t know what the enterprise version heatmap measures, but making it really mean something needs thought.

Another thing is to make it pretty. Heatmap libraries render gradient dots and making those dots follow

[2021-10-01 17:49] CharlesIrvineKC commented on #20
Good points, all. Was just a spur of the moment idea. I think this issue can be closed. Thanks again.

[2021-10-01 17:55] datakurre commented on #20
☺️

Thanks. I’ll close when I merge this to master.

One day there will be heatmap or alike. I just don’t hurry with it.

[2021-10-01 19:35] #20 closed

[2021-11-08 17:20] bogdartysh opened #22 "how-to connect docker with plugin to existed run"
Hi,
is it possible to connect docker with camundat-coockpit-plugin to existed Camunda API?
say I already have a running camunda - and wish to create a new webapp with histo plugin which will use existed camunda as a backand ?
thanks

[2021-11-09 04:33] datakurre commented on #22
I assume that it is possible, but I have not done that myself. At least it should be configured to run without job executors so that it would not participate executing the processes.

[2021-11-17 14:23] Despairs opened #23 "Timezone for variables inside history view"
Variables 'Created' column inside process instance history view should be in local timezone like in other tabs.
Right now it's displayed as is in UTC

[2021-11-30 14:57] bogdartysh commented on #22
yes, would be a greate feature as for my humble opinion. as usually view to the DB could have different life-cicle then execution enginge...

[2021-11-30 15:24] datakurre commented on #22
Agreed. I see no reason why it would not work, but this is more related to deploying Camunda than deploying the plugin. If you are able to connect two Camunda containers to the same database so that the view container other has now side-effects on the execution container, this plugin as such should just work.

[2021-12-09 09:36] bogdartysh opened #24 "how-to connect to spring-boot-application"
hi

could we somehow add instruction on how-to add plugin into spring-boot-application?

I've created Proof Of concept by my own : https://github.com/bogdartysh/spring-boot-datakurre-plugins-webjar
so one could add it into maven using jitpack (as sources are on github only) and add as a dependency into maven

[2021-12-09 17:41] fliot commented on #22
...
Even if this is not a direct answer, I think this is easy to copy/paste your war app, if you have some customized application or external forms, and to wrap all this into a complete docker application.

Find here attached, an all in one Dockerfile example, with history camunda-cockpit-plugins :

[code]

[2021-12-09 17:59] bogdartysh commented on #23
well, on for me variables in history tab are in my personal timezone,

I've a spring-boot application as in https://github.com/bogdartysh/spring-boot-datakurre-plugins-webjar/tree/main/sample/camunda-euler

[2021-12-09 19:27] datakurre commented on #23
I added time zone support quite recently so I might have forgotten it from some places. I will keep this open until I have checked that.

[2021-12-09 19:58] datakurre commented on #24
I would have expected there to be generic instructions somewhere on how to add cockpit plugins into various Camunda distributions. Curios if there is not and every plug-in should instruct it by themselves 😳

[2021-12-10 16:22] wenlijie opened #25 "Wonderful job and could it work for Camunda 7.16?"
If so, plz give me some comments on how to do this.

Cheers, Lijie

[2021-12-10 18:51] datakurre commented on #25
What is the issue with Camunda Platform 7.16. I've seen none yet.

[2021-12-11 02:26] wenlijie commented on #25
No problem. I just tested it on 7.16. All things are ok. Thank you again.

[2021-12-11 02:26] #25 closed

[2021-12-17 17:42] bogdartysh commented on #24
I think if packaged as a maven dependency then could be put into pom.xml before camunda-itself.

I've tried : https://github.com/bogdartysh/spring-boot-datakurre-plugins-webjar based on https://github.com/pme123/spring-boot-datakurre-plugins

(thus I've not publish it on central yet so it's less convinient)

[2021-12-20 07:59] jussilattu opened #26 "Support for Camunda 7.16"
Currently, the plugins do not show history of ended processes on camudna 7.16.

Are you planning to add support for 7.16?

[2021-12-20 08:15] jussilattu commented on #26
Looked into it and as I see it, it should work as is.

For some reason we are still unable to see history on eded processes on 7.16. Possibly there is an issue in storing the data.

[2021-12-20 09:32] datakurre commented on #26
:flushed: I've seen no issues with 7.16 yet.

[2021-12-20 10:45] jussilattu commented on #26
My bad, we were running old versions of plugins. New versions work fine with 7.16.

[2021-12-20 10:45] #26 closed

[2022-02-20 23:00] ChuckIrvine opened #27 "Provide drill down for completed process instance call activities"
For active processes, one can drill down into a call activity's subprocess by clicking on a call activity's drill down icon:

![image](https://user-images.githubusercontent.com/657002/154868062-36196693-1814-4a68-9cb7-cd8f00baf4c9.png)

After clicking on the icon, one is shown the subprocess:

![image](https://user-images.githubusercontent.com/657002/154868148-4dd4d01c-6798-4e6c-97b7-ae90ab3efe7c.

[2022-02-20 23:14] ChuckIrvine opened #28 "Install into Camunda Tomcat distribution"
To install the plugin into a Camunda Tomcat distribution, do you just copy all of the *.js files in in the GitHub project:

https://github.com/datakurre/camunda-cockpit-plugins

to \camunda-bpm-tomcat-7.16.0\server\apache-tomcat-9.0.52\webapps\camunda\app\cockpit\scripts

Or, are there additional files that need to be copied as well?

What ever the correct installation procedure, it would be usefu

[2022-02-21 11:17] datakurre commented on #28
Copying all files should work. `config.js` is the one Camunda reads (copying that file will somehow override the default version) and everything else is loaded according to `config.js`.

Instructions are missing, because I assumed that, because all plugins are installed similarly, there exists official documentation somewhere, but I just have not found it myself yet. :see_no_evil:

[2022-02-21 11:20] datakurre commented on #27
Currently, related executed subprocesses and decision tables can be navigated from "Audit log"-tab.

How should that drill down work when there are multiple historic executions for the same call activity task? I have never used the enterprise version myself, so I don't know how it works.

[2022-02-21 12:42] CharlesIrvineKC commented on #27
I didn't notice that I could use the audit log like that. Now I think things are fine.

[2022-02-21 12:42] #27 closed

[2022-02-22 12:20] CharlesIrvineKC commented on #28
Yes, it seems like copying just the *.js files results in all of the expected functionality. Thanks

[2022-02-22 12:20] #28 closed

[2022-03-02 18:12] ChuckIrvine opened #29 "ECS Custom Password vulnerability when pushing to Bitbucket"
Hi,

This might be tricky to fix. I was getting ready to deploy your plugin to our Camunda instances, but when I tried to push the plugin *.js files to my git repo, I got a bunch security related output and my repo refused to accept the push. See error messages below.

Any ideas on how to fix or what is being complained about?

Thanks

[code]

[2022-03-03 07:03] datakurre commented on #29
`camunda-cockpit-ui.js` is from Camunda and should not be required in usual setups. It is mentioned in README, because it is required with the Docker setup mentioned in README due to how Docker volume mounts work.

That aside, the error sounds like a custom check, and it is impossible for me to know what it is checking and how to fix it.

I'm quite sure that the error could be fixed by pushing sou

[2022-03-03 13:17] CharlesIrvineKC commented on #29
I expected that you wouldn't be able to help without significant additional information. I'll work on acquiring that and I'll also I'll look into the alternate deployment method that you described. Thanks.

[2022-03-03 14:58] CharlesIrvineKC commented on #29
I have a little more information. Our security scanner thinks that it sees a hardcoded user id or password. The relevant files are:

definition-historic-activities.js
instance-historic-activities.js
instance-route-history.js
instance-tab-modify.js
tasklist-audit-log.js

I'll be looking at source files today to try to find the problem.

[2022-03-03 21:12] CharlesIrvineKC commented on #29
@datakurre After further looking into things, all of the security warnings were false positives. I'll can fix things by white listing. Thanks

[2022-03-03 21:12] #29 closed

[2022-03-08 19:04] ChuckIrvine opened #30 "Camunda/Tomcat 7.14 Installation"
I have successfully installed your cockpit plugin in version 7.16 of the Camunda/Tomcat distribution, but the same installation procedure in version 7.14 isn't successful, that is, the plugin tabs don't show up. Would you mind specifying the 7.14 installation procedure? I see that you have some instructions for a 7.14 docker installation, but I'm not a Docker guy yet. If you could just tell me whe

[2022-03-09 06:45] asys3 commented on #30
Have you tried to clear your browser cache?
Sometimes i saw that cockpit plugins aren't  visible and it's only about refreshing the browser.
Alternatively try the same within an incognito or private tab or window.

[2022-03-09 12:43] CharlesIrvineKC commented on #30
Actually, now I am able to successfully deploy the plugin to 7.14. My config.js was misconfigured. However, I still think it would be valuable to specify non docker installation instructions for both Camunda platform, spring boot and maybe Camunda run. This is going to cover the majority of new users. If they are experienced docker developers, then they can quickly adapt these basic installation i

[2022-03-11 13:47] #30 closed

[2022-03-11 13:49] ChuckIrvine opened #31 "Default number of instances retrieved?"
I have just a quick question. I know there is a filter to limit the number of instances retrieved by the plugin, but I'm curious whether there is a default value?

[2022-03-11 22:21] datakurre commented on #31
I recall the default is 1000 latest, but only in the selected version.

[2022-04-07 19:14] Snooz82 opened #32 "Show Sequence Flow by url option and remember show state in local_storage"
It would be nice to have the Sequence Flow permanently active once i have activated it on one instance.

We do have the use case to link to a specific Process Instance from outside and to enable the Sequence Flow in that url, it would be nice to have a URL option that enables it.
Like:

http://localhost:8080/camunda/app/cockpit/default/#/process-instance/2cc5dbac-b691-11ec-bfd1-0ecc6342b232/runtim

[2022-06-01 15:13] CharlesIrvineKC opened #33 "Bug - Incorrect Execution Path Shown"
In the diagram below notice that the "No" path is annotated as the execution path taken. Also, notice that the flow out of "CompleteAuth" is annotated as the execution path. In fact, the actual execution path out of the gate is the unlabeled flow. The condition on the "No" path is `${ ! executeCompleteAuth } `and on the unlabeled flow the condition is `${ executeCompleteAuth }.` The value of execu

[2022-06-01 18:47] datakurre commented on #33
@ChuckIrvine Thanks for the report.

 Does it look same or different on Chrome vs Firefox?

[2022-06-01 19:39] CharlesIrvineKC commented on #33
Same on both.

[2022-06-02 23:03] CharlesIrvineKC commented on #33
I've been experimenting with this and it seems like the problem is intermittent. With the attached project zip file you should be able to duplicate the problem.

1. Build and run the project.
2. In the TaskList, start and run RulesCheckSubProcessV2.
3. Select only Do Auth Complete checkbox and press the Start button.
4. Repeat step 3 again at least 10 times.
5. Go into the Cockpit and inspect all

[2022-06-03 03:42] datakurre commented on #33
@ChuckIrvine Thanks again. That will help for sure, when I can look into this.

So, some times the same process gets run so that it renders correctly? But instance that renders wrong, does it all the time?

Do all those tasks around the issue require at least some time to process or is it possible that they end up having identical completion time stamps?

[2022-06-03 13:42] CharlesIrvineKC commented on #33
In the example, you will run the same process multiple times always with the same variable settings. Sometimes it will render correctly and sometimes not.

I haven't checked any timings.

[2022-06-15 13:50] snq opened #34 "Uploaded files"
Hello and thank you for the work you've done.

Is it possible to view/download the uploaded files under the variables tab just like any other variable that's shown?

Currently I can view all variables for a process instance, but the value for files is set to null.

[2022-06-15 14:39] datakurre commented on #34
File variables should be downloadable if they are available in the history. Are you sure that you don’t have optimizations to prevent files being stored in history?

[2022-06-15 14:44] snq commented on #34
Thanks for the reply.
I've attached a screen shot of the issue.
I can see the value of the file uploaded under process instance, but under the history tab the value is null
![image](https://user-images.githubusercontent.com/13757083/173855982-0f99a9d7-f044-4f61-be9c-a25c487d3c7b.jpeg)

[2022-06-15 15:00] datakurre commented on #34
Runtime and history data are saved separately, also for running processes.

I can look into this, if this can be reproduced with an official Camunda distribution. So far, I have only seen this, when I have especially customized Camunda to not save file variable values in the history 😳

[2022-06-15 15:11] snq commented on #34
Okay.
I haven't done any customization to not save files in history, I just ran the version you provided and test it with my process definition.

[2022-06-15 15:17] datakurre commented on #34
Thanks! I’ll double check later if historic file variables are available with the default Camunda docker and this plugin. Maybe it’s the other way around and they require full history to be configured 😳 Nevertheless, I have relied on accessing historic file variables through cockpit with this plugin for so long time that I was surprised by this issue.

[2022-06-15 15:22] snq commented on #34
Got it.
I'd really appreciate any insights on this as this will make what you've done a complete Camunda solution for me. The only thing that's missing for me at this point is file variable under history.
Appreciate it.

[2022-06-16 11:44] datakurre commented on #34
@snq Which instructions you were following exactly with which "provided version"? :sweat_smile:

I just tested the latest version with the latest Camunda Run and file variables in the demo processes provided in Camunda Run were displayed correctly OOTB. :thinking:

[2022-06-16 11:50] snq commented on #34
Here is what I followed:

https://datakurre.pandala.org/2021/01/camunda-cockpit-history-plugin/

[2022-06-16 16:33] datakurre commented on #34
I added update to https://datakurre.pandala.org/2021/01/camunda-cockpit-history-plugin/ with links to the latest version.

[2022-06-16 17:32] snq commented on #34
Thank you! 🙏🏼
I'm gonna give it a try asap

[2022-06-18 07:16] snq commented on #34
I tried the new version and I can't access the cockpit anymore. In my browser console I get this error:

`config.js:1 Uncaught (in promise) SyntaxError: Unexpected token ':' (at config.js:1:4)`

When I look at the updated files I see that they are empty. Maybe you a made mistake when uploading them?
I also downloaded the .js files from the git repo and put them in my scripts directory to replace t

[2022-06-18 08:40] datakurre commented on #34
@snq You are correct. I'm sorry for the inconvenience. I somehow managed to create broken download URLs to the blog post update even I though I tested them. I updated my update.

[2022-06-18 08:49] snq commented on #34
Thank you.
Unfortunately I ran to another error in my browser console:

`Failed to load resource: the server responded with a status of 404 ()` for the file tasklist-audit-log.js:

[2022-06-18 09:24] datakurre commented on #34
@snq Thank you for your patience. It seems, there was a good reason after all for me to use time fixed links in the blog post...

Just update config.js once more and it should finally work.

[2022-06-18 09:42] snq commented on #34
No worries, it happens.
So I updated the config.js and it didn't work. I created a fresh new install and followed the instructions again and it didn't work.

Here is what I get in my console:

`Failed to load resource: the server responded with a status of 404 ()` for the file robot-module.js

[2022-06-18 10:40] datakurre commented on #34
Of course it is :see_no_evil:  I was about to warn, how sticky Camunda allows to browser cache those files sometimes, but was probably tricked by that myself by not seeing that file missing.

So, one more blog post update for fetching the missing file. Hopefully the last:

[code]

Technically config.js is something to be customized for each install. These latest issues were about config.js referri

[2022-06-18 10:46] datakurre commented on #34
For comfort, here is an example of a little bit hidden feature in the latest versin. Process definition level history tab allows search by string variable values (with matching string or "like" with % wildcard like in "%needle%).  The user experience is not yet as good as I would like it to be, but because I did not have resources to write a "filter box" component of my own, I had to use what was

[2022-06-18 10:51] snq commented on #34
Works like a charm!
Thank you for your time and sorry if I bugged you too much.
Hidden feature looks great, I'm gonna give it a try.

[2022-06-18 11:00] #34 closed

[2022-06-21 19:39] chrisbmoore commented on #32
This is something I'd like too, especially when refreshing the page on an active process instance. I can try adding it when I have time.

[2022-06-22 05:06] snq opened #35 "Authorizations"
Hello

Can I customize authorizations to make history available to certain users for their own tasks only?

So far I managed to give history permission to that user for all tasks for a certain process definition.

Thank you.

[2022-06-22 18:11] datakurre commented on #35
There is no extra authorisations in the plugin. All tabs are (should be) visible for everyone, but they can only display data that the current user has been authorized to read.

[2022-06-22 18:15] snq commented on #35
tabs being displayed is fine, but the said user can see the variable history for the tasks that were not assigned to them.
I played with the authorization in process definition with no luck.

[2022-06-22 21:27] datakurre commented on #35
@snq Then it is good that the plugin shows that there is something wrong in your configuration. Plugin simply calls Camunda API with the session cookie of the currently logged-in user. The plugin runs completely in browser and cannot do privilege escalation on its own. Are you familiar with https://camunda.com/blog/2021/05/what-you-should-know-about-using-camunda-platform-run-in-production/

[2022-06-24 09:21] snq commented on #35
Yes I am. We are using Camunda platform run in production for almost a year.

I can manage to limit access to certain processes in cockpit by denying the user that process id (which is not a great solution because I have to deny the process ID manually).
This doesn't prevent them to see the variables for that process instance under history tab, they can see all the history variable for a process t

[2022-06-24 18:24] datakurre commented on #35
@snq This sounds more and more like something I cannot help with this plugin, because the behavior you are seeing, I believe, only exposes issues with the current authorization configuration in your Camunda instance.

It sounds wrong that you need to deny / revoke permissions manually. In my experience, users start with absolutely no authorizations. Only when they are given tasks, they get authori

[2022-06-28 08:34] jussilattu opened #36 "History problems with Camunda Platform 7.16 on spring boot"
There are two things that are not properly working on the plugins. We run Camunda engine on sprinboot. Platform version is 7.16.

Issue 1:

If the process is big, the history tab will not load at all

Issue 2:

Some processes do not show variables at all when the process is complete.

[2022-06-28 16:48] datakurre commented on #36
@jussilattu Would you be able to inspect with browser’s developer tools network tab if there are any issues with the XHR requests the plugin is doing? Or errors on the console.

Also, possibly you would be able to create example process with those issues (I assume that a lot of blank tasks with output mapping variables is enough)?

[2022-06-28 18:13] #31 closed

[2022-06-28 18:13] #22 closed

[2022-06-28 18:34] #24 closed

[2022-06-28 18:35] #23 closed

[2022-06-28 18:37] datakurre commented on #23
Fixed and updated prebuilt plugin bundles.

[2022-06-29 06:22] jussilattu commented on #36
@datakurre I will try to find time to set up new environment that can be used to demonstrate the issue, and provide the logs

[2022-06-30 08:59] jussilattu commented on #36
This behaviour of camunda apparently, and not the plugins. We have opld Java 8 DateTimes in variables provided by microservices, and camundas rest api is unable to respond with them.

[2022-06-30 09:03] #36 closed

[2022-07-19 00:09] marksttgg commented on #16
Neither of theses solutions worked for me on version 7.16

To get the plugin installed:

1. I cloned and built the history plugin project
2. Then used COPY to copy the required files to into 'scripts' directory, see dockerfile:
3. Build image

dockerfile:
--------------------------------------------------------------------------------------------------

# Specify the version
FROM camunda/camunda-b

[2022-07-19 00:16] mlifty commented on #16
Neither of theses solutions worked for me on version 7.16

To get the plugin installed:

1. I cloned and built the history plugin project
2. Copied the required files to the root of my docker build folder
3. Then used docker COPY to copy required files to into 'scripts' directory, see dockerfile below:
4. Build image

dockerfile:

[code]

Note: For COPY to work files need to be copied from the sam